.version.active_projects /* version checker */
{
	color: #0000F1;
	background-color: #7D6EE4;
}

.html
{
	background-color: #464646;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 700px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #464646;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 18px;
}

#menuu102
{
	z-index: 2;
}

#u110
{
	width: 385px;
	min-height: 98px;
	margin-right: -10000px;
}

#u111
{
	width: 385px;
	padding-bottom: 67px;
}

#u111:hover
{
	margin: 0px;
}

#u111:active
{
	margin: 0px;
}

#u118
{
	width: 385px;
	min-height: 98px;
	margin-right: -10000px;
	left: 387px;
}

#u119
{
	width: 385px;
	padding-bottom: 67px;
}

#u111.MuseMenuActive,#u119:hover
{
	margin: 0px;
}

#u119:active
{
	margin: 0px;
}

#u114-4_clip,#u121-4_clip
{
	width: 385px;
	height: 31px;
}

#u125
{
	width: 386px;
	min-height: 98px;
	margin-right: -10000px;
	left: 774px;
}

#u126
{
	width: 386px;
	padding-bottom: 67px;
}

#u119.MuseMenuActive,#u126:hover
{
	margin: 0px;
}

#u126:active
{
	margin: 0px;
}

#u126.MuseMenuActive
{
	margin: 0px;
}

#u127-4_clip
{
	width: 386px;
	height: 31px;
}

#u114-4,#u121-4,#u127-4
{
	margin-right: -10000px;
	top: 33px;
}

#menuu102-bw
{
	z-index: 2;
	height: 98px;
}

#pu134
{
	width: 0.01px;
	margin-left: -100px;
}

#u134
{
	z-index: 21;
	width: 1160px;
	margin-right: -10000px;
}

#pamphletu175
{
	z-index: 23;
	width: 0.01px;
	height: 32px;
	padding-bottom: 600px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
}

#u191
{
	z-index: 24;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u192
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	top: -13px;
	left: -9px;
}

#u192:hover
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u192:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u192.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #464646;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u193-4
{
	z-index: 26;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#u192:hover #u193-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u192:active #u193-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u192.PamphletThumbSelected #u193-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 11px -10000px 0px 0px;
}

#u192:hover #u193-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u192:active #u193-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u192.PamphletThumbSelected #u193-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u178
{
	position: absolute;
	width: 920px;
	background-color: transparent;
	left: 60px;
}

#u178popup
{
	z-index: 30;
}

#u187
{
	z-index: 31;
	width: 916px;
	height: 631px;
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	padding-right: 4px;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#pu215
{
	width: 0.01px;
}

#u215
{
	z-index: 38;
	width: 490px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u215_img
{
	padding-bottom: 1px;
}

#u221
{
	z-index: 40;
	width: 358px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#pu188-6
{
	width: 0.01px;
	margin-top: 3px;
}

#u188-6
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u227-6
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 580px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

