.version.index /* version checker */
{
	color: #0000E4;
	background-color: #491BA4;
}

.html
{
	background-color: #464646;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 699.7499999999993px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #464646;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#menuu102
{
	z-index: 2;
}

#u110
{
	width: 385px;
	min-height: 98px;
	margin-right: -10000px;
}

#u111
{
	width: 385px;
	padding-bottom: 67px;
}

#u111:hover
{
	margin: 0px;
}

#u111:active
{
	margin: 0px;
}

#u118
{
	width: 385px;
	min-height: 98px;
	margin-right: -10000px;
	left: 387px;
}

#u119
{
	width: 385px;
	padding-bottom: 67px;
}

#u111.MuseMenuActive,#u119:hover
{
	margin: 0px;
}

#u119:active
{
	margin: 0px;
}

#u114-4_clip,#u121-4_clip
{
	width: 385px;
	height: 31px;
}

#u125
{
	width: 386px;
	min-height: 98px;
	margin-right: -10000px;
	left: 774px;
}

#u126
{
	width: 386px;
	padding-bottom: 67px;
}

#u119.MuseMenuActive,#u126:hover
{
	margin: 0px;
}

#u126:active
{
	margin: 0px;
}

#u126.MuseMenuActive
{
	margin: 0px;
}

#u127-4_clip
{
	width: 386px;
	height: 31px;
}

#u114-4,#u121-4,#u127-4
{
	margin-right: -10000px;
	top: 33px;
}

#menuu102-bw
{
	z-index: 2;
	height: 98px;
}

#pu134
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -3px;
}

#u134
{
	z-index: 21;
	width: 1160px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u159-7
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 120px;
}

#u161-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 120px;
}

#u173-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 120px;
}

#u174-5
{
	z-index: 38;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u231
{
	z-index: 43;
	width: 227px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: #464646;
	position: relative;
	margin-right: -10000px;
	margin-top: 655px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

